@page "/reward"
<div>
    <Title Level="1">关于</Title>

    <Paragraph>
        本站使用 <Text Type="danger"><b>.Net Core3.1</b></Text> &  <Text Type="danger"><b>Ant Design of Blazor</b></Text>开发。
    </Paragraph>
    <Paragraph><Text Mark>数据全来源于360壁纸，本站不存储任何图片内容，仅供学习使用，如有侵权，请联系我们进行删除。</Text></Paragraph>

    <Paragraph>项目已开源在GitHub:<a href="https://github.com/jellydong/Picture" target="_blank">https://github.com/jellydong/Picture</a></Paragraph>
    <Paragraph>参考项目:<a href="https://github.com/mengkunsoft/wallpaper" target="_blank">https://github.com/mengkunsoft/wallpaper</a></Paragraph>
    <Title Level="3">赞赏</Title>
    <Paragraph>
        后期会考虑作为Blazor的入门项目出一个教程，如果又需要，可以提Issue。
        如果对你有所帮助，请作者喝杯咖啡？
    </Paragraph>
    <img src="/img/zanshang.png" height="400px" />
</div>
